/WebApplication1/bin
/WebApplication1/obj
.vs/WebApplication1/v15/Server/sqlite3/storage.ide-shm
.vs/config/applicationhost.config
.vs/WebApplication1/v15/Server/sqlite3/db.lock
.vs/WebApplication1/v15/.suo
.vs/WebApplication1/v15/Server/sqlite3/storage.ide
.vs/WebApplication1/v15/Server/sqlite3/storage.ide-wal
WebApplication1/Views/Home/Index.cshtml
WebApplication1/Views/Home/Index.cshtml
WebApplication1/Views/Home/Index.cshtml
WebApplication1/App_Data/ApplicationContext.mdf
WebApplication1/App_Data/ApplicationContext_log.ldf
