@*Page d'erreur permettant de signaler à l'utilisateur qu'il essayer d'accéder à une fonctionnalité dont il n'a pas les droits*@
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Error</title>
</head>
<body>
    <hgroup>
        <h1>Error.</h1>
        <h2>An error occurred while processing your request.</h2>
    </hgroup>
</body>
</html>
