html {
    min-height: 100%;
    height: 100%;
}

body {
    min-height: 100%;
    padding-bottom: 20px;
    max-width: 100%;
    overflow-x: hidden;
}

.titre:hover {
    cursor: pointer;
    text-decoration: underline;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input, select, textarea {
    max-width: 500px;
}


.menu ul {
    background-color: #e6e6e6;
    height: 100%;
    min-height: 100%;
    border-right-style: solid;
    border-color: #EF0C1A;
}

.menu li a {
    color: black;
    font-size: medium;
    padding: 20px;
}



.btn-info {
    color: #171E26;
    background-color: #ffffff;
    border-color: #ffffff;
}


    .btn-info:hover, .btn-info:focus, .btn-info:active, .btn-info.active, .open .dropdown-toggle.btn-info {
        color: #ffffff;
        background-color: #171E26;
        border-color: #171E26;
    }


.btn-secondary {
    color: #ffffff;
    background-color: #171E26;
    border-color: #171E26;
}

    .btn-secondary:hover {
        color: #ffffff;
        background-color: #171E26;
        border-color: #171E26;
    }

.btn-primary {
    color: white;
    background-color: #EF0C1A;
    border-color: #EF0C1A;
}

    .btn-primary:hover {
        color: white;
        background-color: #EF0C1A;
        border-color: #EF0C1A;
    }


#fondGradientGris {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,f1f1f1+65,e1e1e1+81,f6f6f6+100 */
    background: rgb(255,255,255); /* Old browsers */
    background: -moz-linear-gradient(-45deg, rgba(255,255,255,1) 0%, rgba(241,241,241,1) 65%, rgba(225,225,225,1) 81%, rgba(246,246,246,1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(-45deg, rgba(255,255,255,1) 0%, rgba(241,241,241,1) 65%, rgba(225,225,225,1) 81%, rgba(246,246,246,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(135deg, rgba(255,255,255,1) 0%, rgba(241,241,241,1) 65%, rgba(225,225,225,1) 81%, rgba(246,246,246,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f6f6f6',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.deroulant {
    padding-bottom: 5px;
    padding-top: 5px;
}

.wrapper {
    display: flex;
}

#sidebar {
    min-width: 180px;
    max-width: 180px;
    height: 100vh;
}

.text-primary {
    color: black;
}

.form-group {
    margin-bottom: 0;
}

h3 {
    margin-top: 0;
    margin-bottom: 0;
}

#italie {
    font-style: italic;
}

.nom {
    font-size: 15px;
}

textarea {
    width: 360px;
    height: 75px;
}

/*** MultiSelect checkbox ***/
.multiselect {
    width: 200px;
    float: left;
}

.selectBox {
    position: relative;
}

    .selectBox select {
        width: 100%;
        font-weight: bold;
    }

.overSelect {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

#checkboxes {
    display: none;
    border: 1px #dadada solid;
}

    #checkboxes label {
        display: block;
    }

        #checkboxes label:hover {
            background-color: #1e90ff;
        }

dt, dd {
    font-size: 20px;
}

.gradientrose {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ff5c5c+0,fe9090+45,febbbb+99 */
    background: #ff5c5c; /* Old browsers */
    background: -moz-linear-gradient(-45deg, #ff5c5c 0%, #fe9090 45%, #febbbb 99%); /* FF3.6-15 */
    background: -webkit-linear-gradient(-45deg, #ff5c5c 0%,#fe9090 45%,#febbbb 99%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(135deg, #ff5c5c 0%,#fe9090 45%,#febbbb 99%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff5c5c', endColorstr='#febbbb',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
    background-repeat: no-repeat;
    background-attachment: fixed;
}

b {
    font-size: 2rem;
}

.trie li a {
    background-color: white;
}

    .trie li a:hover {
        background-color: #EF0C1A;
    }

.titreIndex {
    justify-content: center;
    display: flex;
    margin-top: 0px;
}


.textAreaCSS {
    min-height: 8rem;
    max-height: 11rem;
    min-width: 500px;
}

.titreRouge {
    color: red;
}

.panel-container {
    padding-top: 20px;
}

.panel {
    border: 0;
}

.no-padding {
    padding: 0;
    margin: 0;
}

.panel .border-top, .panel .border-right, .panel .border-bottom, .panel .border-left {
    border-color: #e9ecf2;
}

.border-right {
    border-right: 1px solid #dadbda;
}

.panel-widget {
    padding: 10px 0;
    position: relative;
    box-shadow: none;
    border-radius: 0;
    background: none;
    text-align: center;
    color: #333;
}

.panel-teal {
    background: #1ebfae;
    color: #fff;
}

.panel {
    border: 0;
}

.panel-widget {
    padding: 10px 0;
    position: relative;
    box-shadow: none;
    border-radius: 0;
    background: none;
    text-align: center;
    color: #333;
}

.panel-teal {
    background: #1ebfae;
    color: #fff;
}

.panel-widget .large {
    color: #373b45;
    font-size: 3em;
}

.large {
    font-size: 2em;
}

.panel-widget .text-muted {
    margin-top: -6px;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 0.8em;
}

.text-muted {
    color: #c5c7cc;
}

.panel .border-top, .panel .border-right, .panel .border-bottom, .panel .border-left {
    border-color: #e9ecf2;
}

.border-right {
    border-right: 1px solid #dadbda;
}

.panel-widget {
    padding: 10px 0;
    position: relative;
    box-shadow: none;
    border-radius: 0;
    background: none;
    text-align: center;
    color: #333;
}

.fa-xl {
    font-size: 2em;
}

.color-blue {
    color: #30a5ff;
}

.color-orange {
    color: #ffb53e;
}

.color-teal {
    color: #1ebfae;
}

.color-red {
    color: #f9243f;
}

.easypiechart-panel {
    text-align: center;
    padding: 1px 0;
    margin-bottom: 20px;
}

.easypiechart {
    position: relative;
    text-align: center;
    width: 95%;
    height: 120px;
    margin: auto;
}

#easypiechart-blue .percent {
    color: #30a5ff;
}

.easypiechart .percent {
    width: 100%;
    height: 100%;
    display: flex;
    font-size: 26px;
    justify-content: center;
    align-items: center;
}

#easypiechart-orange .percent {
    color: #ffb53e;
}

#easypiechart-teal .percent {
    color: #1ebfae;
}

#easypiechart-red .percent {
    color: #ef4040;
}

.breadcrumb {
    display: flex;
    flex-wrap: wrap;
    padding: 0.75rem 1rem;
    margin-bottom: 1rem;
    list-style: none;
    background-color: transparent;
    border-radius: 0.6rem;
    font-size: 1.7rem;
}

.breadcrumb-item.active {
    color: #6c757d;
}

.breadcrumb-item {
    color: #FF473B;
}


.separer {
    height: 10px;
    border: 0;
    box-shadow: 0 10px 10px -10px #8c8b8b inset;
}
.separerEdit {
    height: 2px;
    border: 0;
    box-shadow: 0 10px 10px -10px #8c8b8b inset;
}

.titreCRUD {
    padding-left: 3%;
}

input[type=submit] {
    margin-top: 1%;
}


.popup {
    z-index: 1001;
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0px;
    right: 0px;
    top: 0px;
    bottom: 0px;
    background-color: rgba(3,3,3,0.8);
    display: none;
}
.popDisplay {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.popupWindow {
    background-color: white;
    margin: auto;
    width: 500px;
    height: 200px;
    text-align: center;
    -moz-border-radius: 50px 50px / 50px 50px;
    border-radius: 50px 50px / 50px 50px;
    box-shadow: 10px 10px 5px #000;
    display: flex;
    flex-direction: column;
    justify-content: space-around
}

.popup_txt {
    font-size: 26px;
    font-weight: bold;
    color: red;
}

.popup_img {
    margin: 10px;
}

.popup_img_yes, .popup_img_no {
    margin: 20px;
}

#lapopup {
    display: none;
}

.detail:hover {
    text-decoration: underline;
}

.titrepartie {
    max-width: 95%;
}

.titrepartie {
    padding-left: 30px;
    padding-right: 30px;
}

.searchBar {
    color: #555555;
    background-color: #ffffff;
    border: 1px solid #cccccc;
    border-radius: 4px;
    height: 3.40rem;
    padding: 6px 12px;
}

