@model WebApplication1.Models.Account.Feedback

@{
    ViewBag.Title = "Details";
}

<br />
<p>
    <a title="Retour" href=@Url.Action("Index","Feedbacks") class="btn btn-info btn-lg">
        <span class="glyphicon glyphicon-arrow-left" />
    </a>
</p>

<div class="py-5">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <p class="lead">Nom : @Html.DisplayFor(model => model.Name)</p>
            </div>
            <div class="col-md-6">
                <p class="lead">Mail : @Html.DisplayFor(model => model.Email)</p>
            </div>
            <div class="col-md-6">
                <p class="lead">Message : @Html.DisplayFor(model => model.Comment)</p>
            </div>
            <div class="col-md-6">
                <p class="lead">Etat : @Html.DisplayFor(model => model.Etat)</p>
            </div>
        </div>
    </div>
</div>

