@{
    ViewBag.Title = "A propos";
}

<div class="py-5 text-center bg-light">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1 class="pb-3 text-secondary">Easy Bill vous permez de :</h1>
            </div>
        </div>
        <br/>
        <div class="row">
            <div class="text-right col-md-6" style="padding-right:30px">
                <div class="row my-5">
                    <div class="col-10 text-lg-right text-right order-lg-1">
                        <h4 class="text-primary">Gérer vos clients</h4>
                        <p>
                            Based on fluid design principles.
                            <br>Works with screen resolution
                        </p>
                    </div>
                </div>
                <div class="row my-5">
                    <div class="col-10 text-lg-right text-right order-lg-1">
                        <h4 class="text-primary">Créer des devis</h4>
                        <p>Choose settings depending on the criteria you value the most</p>
                    </div>
                </div>
                <div class="row my-5">
                    <div class="col-10 text-lg-right text-right order-lg-1">
                        <h4 class="text-primary">Transformer vos devis en facture</h4>
                        <p>
                            In-app chat panel 24/7 active.
                            <br>The support you need, right there.
                        </p>
                    </div>
                </div>
            </div>
            <div class="text-left col-md-6" style="padding-left:30px">
                <div class="row my-5">
                    <div class="col-10">
                        <h4 class="text-primary">Gérer votre profil</h4>
                        <p>
                            Non consuming background operation
                            <br>Pingendo enhance the battery duration.
                        </p>
                    </div>
                </div>
                <div class="row my-5">
                    <div class="col-10">
                        <h4 class="text-primary">Accéder à votre tableau de bord</h4>
                        <p>
                            Work simultaneously on different panels.
                            <br>Share the work with teammates.
                        </p>
                    </div>
                </div>
                <div class="row my-5">
                    <div class="col-10">
                        <h4 class="text-primary">D'être plus productifs. Enjoy !</h4>
                        <p>
                            Help us spreading the word.
                            <br>Tell your friends with just one-click
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>