@model WebApplication1.Models.Account.Utilisateur

@{
    ViewBag.Title = "A propos";
}

<div class="py-5 text-center bg-light">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1 class="pb-3 text-secondary">Easy Bill vous permez de :</h1>
            </div>
        </div>
        <br/>
        <div class="row">
            <div class="text-right col-md-6" style="padding-right:30px">
                <div class="row my-5">
                    <div class="col-10 text-lg-right text-right order-lg-1">
                        <h4 class="text-primary">Gérer vos clients</h4>
                        <p>
                            Une gestion simple et complète
                            <br /> de vos clients et fournisseurs.
                        </p>
                    </div>
                </div>
                <div class="row my-5">
                    <div class="col-10 text-lg-right text-right order-lg-1">
                        <h4 class="text-primary">Créer des devis</h4>
                        <p>Créer des devis n'a jamais été aussi simple.
                        <br /> Ne rentrer que les informations utiles, on s'occupe du reste !</p>
                    </div>
                </div>
                <div class="row my-5">
                    <div class="col-10 text-lg-right text-right order-lg-1">
                        <h4 class="text-primary">Transformer vos devis en facture</h4>
                        <p>
                            Une facturation simple qui s'occupe de tout.
                            <br>Ne vous souciez plus de votre comptabilité.
                        </p>
                    </div>
                </div>
            </div>
            <div class="text-left col-md-6" style="padding-left:30px">
                <div class="row my-5">
                    <div class="col-10">
                        <h4 class="text-primary">Gérer votre profil</h4>
                        <p>
                            Personnalisez votre profil afin d'être
                            <br>plus productifs dans votre travail.
                        </p>
                    </div>
                </div>
                <div class="row my-5">
                    <div class="col-10">
                        <h4 class="text-primary">Accéder à votre tableau de bord</h4>
                        <p>
                            Votre récapitulatif du mois vous informe sur 
                            <br>l'évolution de votre entreprise.
                        </p>
                    </div>
                </div>
                <div class="row my-5">
                    <div class="col-10">
                        <h4 class="text-primary">D'être plus productifs. Enjoy !</h4>
                        <p>
                            Easy Bill a permit à nos clients d'économiser du temps sur leurs papiers.
                            <br>Ils ont ainsi plus de temps à consacrer à l'essentiel.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<hr />
<div class="py-5">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1 class="text-center display-3">A propos de notre équipe</h1>
                <p class="">
                    Nous sommes une équipes de 5 développeurs. Nous travaillons sur Easy Bill depuis novembre 2017 dans le cadre d'un projet tutoré. L'idée d'un site de gestion commerciale vient de Harketti Bendaoud (<a target="_blank" href="http://www.harketti.fr/">http://www.harketti.fr/</a>).
                N'hésitez pas à nous contacter pour toutes informations sur Easy Bill ou sur notre équipe. Nous sommes toujours à votre écoute.
                </p>
            </div>
        </div>
    </div>
</div>
<br />
<div class="py-5 bg-primary text-white">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d3309.765019177911!2d3.1008611737627265!3d45.76779241986469!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47f71bf527f9a57b%3A0x2df926ae3d326c8b!2sC4C+Consulting!5e0!3m2!1sfr!2sfr!4v1510239009277" width="550" height="450" frameborder="0" style="border:0" allowfullscreen=""></iframe>
            </div>
            <div class="col-md-6">
                <h1>Contactez-nous</h1>
                <p>Nous sommes à votre écoute.</p>
                <div>
                    <div class="form-group">
                        <label for="InputName">Notre mail</label>
                        <p>afiacrocus@gmail.com</p>
                    </div>
                    <div class="form-group">
                        <label for="InputEmail1">Notre adresse</label>
                        <p>3 Avenue Blaise Pascal, 63170 Aubière</p>
                    </div>
                    <div class="form-group">
                        <label for="InputEmail1">Notre téléphone</label>
                        <p>06 00 00 00 00</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="~/scripts/tinymce/tinymce.min.js" type="text/javascript"></script>
