
@{
    ViewBag.Title = "Attente";
}

<h2>Vous devez attendre que votre compte soit validé. Il se peut que votre compte ne soit pas validé car des information manques ou sont erronées dans votre profil. Allez donc les modifier!</h2>

