@*Vue permettant d'afficher une erreur lorsque le type de l'utilisateur n'est pas le bon pour accéder à certaines fonctionnalités*@
@{
    ViewBag.Title = "BadUserTypeError";
}

<h2>Erreur</h2>
<p>Vous devez posséder un compte administrateur pour avoir accès à cette fonctionnalité</p>

<button onclick="location.href='javascript:history.go(-1)'" class="button button-red">
    RETOUR
</button>