@model WebApplication1.Models.Compte.Feedback

@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>

@using (Html.BeginForm())
{
    <p>Nom:</p>
    <p>@Html.TextBoxFor(m => m.name, new { @class = "form-control" })</p>
    <p>Mail:</p>
    <p>@Html.TextBoxFor(m => m.email, new { @class = "form-control" })</p>

    <p>Message:</p>
    <p>@Html.TextAreaFor(m => m.comment, new { @class = "form-control", @cols = 80, @rows = 10 })</p>
    <input type="submit" value="Submit" />
}

