@model WebApplication1.Models.Compte.Feedback

@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>

@using (Html.BeginForm())
{
    <p>Nom:</p>
    <p>@Html.TextBoxFor(m => m.Name, new { @class = "form-control", @required = "required" })</p>
    <p>Mail:</p>
    <p>@Html.TextBoxFor(m => m.Email, new { @class = "form-control", @required = "required", type="email" })</p>

    <p>Message:</p>
    <p>@Html.TextAreaFor(m => m.Comment, new { @class = "form-control", @required = "required", @cols = 80, @rows = 10 })</p>
    <button type="submit" value="Create" class="btn btn-secondary">Envoyer</button>
}

