@{
    ViewBag.Title = "Easy Bill";
}

@if (!System.Web.HttpContext.Current.User.Identity.IsAuthenticated)
{
    <div class="py-5 text-center opaque-overlay">
        <div class="container py-5">
            <div class="row">
                <div class="col-md-12 text-white">
                    <h1 class="display-3 mb-4">Bienvenu sur Easy Bill</h1>
                    <p class="lead mb-5">
                        Easy Bill est une application de gestion commerciale qui vous permet de gérer vos clients, vos devis et vos facture.&nbsp;
                        <br>
                        <br>
                    </p>
                    <a href=@Url.Action("Index", "Login") class="btn btn-lg btn-primary mx-1">Accéder</a>
                </div>
            </div>
        </div>
    </div>
}
else
{
    <div class="py-5 text-center opaque-overlay">
        <div class="container py-5">
            <div class="row">
                <div class="col-md-12 text-white">
                    <h1 class="display-3 mb-4">Bonjour,</h1>
                    <p class="lead mb-5">dans un futur proche, vous pourrez accéder à votre tableau de bord depuis cette page. Notre meilleur équipe travaille sur son développement.</p>
                </div>
            </div>
        </div>
    </div>
}