@{
    ViewBag.Title = "Easy Bill";
}

@if (!System.Web.HttpContext.Current.User.Identity.IsAuthenticated)
{
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- CSS dependencies -->
        <link rel="stylesheet" href="~/Content/theme.css">
        <!-- Script: Make my navbar transparent when the document is scrolled to top -->
        <script src="~/Scripts/navbar-ontop.js"></script>
        <!-- Script: Animated entrance -->
        <script src="~/Scripts/animate-in.js"></script>

        
        <!-- Navbar -->
        <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
            <div class="container">
                <a class="navbar-brand" href="#">Easy Bill</a>
                <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbar2SupportedContent" aria-controls="navbar2SupportedContent" aria-expanded="false" aria-label="Toggle navigation"> <span class="navbar-toggler-icon"></span> </button>
                <div class="collapse navbar-collapse text-center justify-content-end" id="navbar2SupportedContent">
                    <ul class="navbar-nav">
                        <li class="nav-item mx-2">
                            <a class="nav-link" href="#download">A propos</a>
                        </li>
                        <li class="nav-item mx-2">
                            <a class="nav-link" href="#reviews">Contact</a>
                        </li>
                    </ul>
                    <a class="btn navbar-btn text-white mx-2 btn-secondary" href=@Url.Action("Index","Login")>Accéder</a>
                </div>
            </div>
        </nav>
        <!-- Cover -->
        <div class="pt-5 bg-primary">
            <div class="container mt-5 pt-5">
                <div class="row">
                    <div class="col-md-6 my-5 text-lg-left text-center align-self-center">
                        <h1 class="display-1">Easy Bill</h1>
                        <p class="lead">Votre application de gestion commerciale.</p>
                        <div class="row mt-5">
                            <div class="col-6 col-lg-4"></div>
                            <div class="col-6 col-lg-4">
                                <a class="btn navbar-btn text-white mx-2 btn-secondary" href=@Url.Action("Index","Login")>Accéder</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <img class="img-fluid d-block mx-auto" src="~/assets/app/iphone_cover_light.png" width="400">
                    </div>
                </div>
            </div>
        </div>
        <!-- Article style section -->
        <div class="py-5">
            <div class="container">
                <div class="row py-5">
                    <div class="col-md-5 order-2 order-md-1 animate-in-left">
                        <img class="img-fluid d-block my-3 mx-auto" src="~/assets/app/iphone_side_light.png" width="200">
                    </div>
                    <div class="col-md-7 align-self-center order-1 order-md-2 my-3 text-md-left text-center">
                        <h2>Easy, yet powerful</h2>
                        <p class="my-4 text-muted">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute
                            irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident.
                        </p>
                        <a class="btn btn-outline-secondary" href="#features">Learn more</a>
                    </div>
                </div>
                <div class="row pt-5">
                    <div class="align-self-center col-lg-7 text-md-left text-center">
                        <h2>Works everywhere</h2>
                        <p class="my-4 text-muted">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi t aliquip ex ea commodo consequat. Duis aute
                            irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                        </p>
                        <a class="btn shadowed btn-secondary"
                           href="#download">Download</a>
                    </div>
                    <div class="align-self-center mt-5 col-lg-5 animate-in-right">
                        <img class="img-fluid d-block" src="~/assets/app/iphone_ipad_light.png">
                    </div>
                </div>
                <hr class="mt-0">
            </div>
        </div>
        <!-- Features -->
        <div class="py-5" id="features">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 text-center">
                        <h2 class="pb-4">Features from the future</h2>
                    </div>
                </div>
                <div class="row">
                    <div class="align-self-center text-md-right text-center col-lg-4 col-md-6">
                        <h4 class="text-primary">Responsive design</h4>
                        <p class="mb-5">
                            Based on fluid design principles.
                            <br>Works with any screen resolution
                        </p>
                        <h4 class="text-primary">Customized settings</h4>
                        <p class="mb-5">Choose settings depending on the criteria you value the most. With no limits.</p>
                        <h4 class="text-primary">Connect</h4>
                        <p class="mb-5">
                            In-app chat panel 24/7 active.
                            <br>The support you need, right there.
                        </p>
                    </div>
                    <div class="my-3 col-md-4 d-none d-lg-block animate-in-down">
                        <img class="img-fluid d-block mx-auto" src="~/assets/app/iphone_features_light.png" width="300">
                    </div>
                    <div class="align-self-center text-md-left text-center col-lg-4 col-md-6">
                        <h4 class="text-primary">Battery-friendly</h4>
                        <p class="mb-5">Non consuming background operation for longer mobile life</p>
                        <h4 class="text-primary">Multilayers</h4>
                        <p class="mb-5">Work simultaneously on different panels with the switcher</p>
                        <h4 class="text-primary">Share the love</h4>
                        <p class="mb-5">
                            Help us spreading the word.
                            <br>Tell your friends with just one-click
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <!-- Features -->
        <!-- Carousel reviews -->
        <div class="pb-5 section text-center bg-light" id="reviews">
            <div class="container">
                <div class="row pt-5">
                    <div class="col-md-12">
                        <div id="carousel" class="carousel slide" data-ride="carousel" data-interval="5000">
                            <div class="carousel-inner" role="listbox">
                                <div class="carousel-item active">
                                    <img src="~/assets/app/reviews_logo_1_light.png" class="img-block mx-auto my-3 d-block" width="250" data-holder-rendered="true">
                                    <div class="blockquote ">
                                        <p class="m-0">I can barely imagine my life without Pingendo</p>
                                        <div class="blockquote-footer">Alex Denver, Tech reviews</div>
                                    </div>
                                </div>
                                <div class="carousel-item">
                                    <img src="~/assets/app/reviews_logo_2_light.png" class="img-fluid my-3 mx-auto d-block" data-holder-rendered="true">
                                    <div class="blockquote ">
                                        <p class="m-0">Pingendo sets a new standard for apps.</p>
                                        <div class="blockquote-footer">Sarah Krichko, APPetizer</div>
                                    </div>
                                </div>
                                <div class="carousel-item">
                                    <img src="~/assets/app/reviews_logo_3_light.png" class="img-fluid my-3 mx-auto d-block" data-holder-rendered="true">
                                    <div class="blockquote ">
                                        <p class="m-0">Amazing, unique, essential and priceless</p>
                                        <div class="blockquote-footer">Monica Lay, News apps</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Call to action -->
        <div class="py-5 section-primary" id="download">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 animate-in-left">
                        <img class="img-fluid d-block my-4 animate-slide-in" src="~/assets/app/iphone_isometric_light.png">
                    </div>
                    <div class="col-md-6 align-self-center text-center text-md-left">
                        <h1><b>Download Pingendo</b></h1>
                        <p class="lead">Get it on your mobile device right now</p>
                        <div class="row mt-5">
                            <div class="col-6 col-lg-4">
                                <a href="#">
                                    <img class="center-block img-fluid d-block shadowed" src="~/assets/app/download_android.png">
                                </a>
                            </div>
                            <div class="col-6 col-lg-4">
                                <a href="#">
                                    <img class="center-block img-fluid d-block shadowed" src="~/assets/app/download_ios.png">
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Footer -->
        <div class="py-5 bg-dark">
            <div class="container">
                <div class="row">
                    <div class="col-md-9">
                        <p class="lead">Inscrivez-vous à notre newsletter pour recevoir les dernières news.</p>
                        <form class="form-inline">
                            <div class="form-group">
                                <input type="email" class="form-control" placeholder="Votre mail">
                            </div>
                            <button type="submit" class="btn ml-2 btn-secondary">S'abonner</button>
                        </form>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 my-3 text-center">
                        <p class="text-muted">© Copyright 2018 Pingendo - All rights reserved.</p>
                    </div>
                </div>
            </div>
        </div>
        <!-- JavaScript dependencies -->
        <script src="~/Scripts/jquery-1.10.2.js"></script>
        <script src="~/Scripts/bootstrap.min.js"></script>
        <!-- Script: Smooth scrolling between anchors in the same page -->
        <script src="~/Scripts/smooth-scroll.js"></script>
}
else
{
    <div class="py-5 text-center opaque-overlay">
        <div class="container py-5">
            <div class="row">
                <div class="col-md-12 text-white">
                    <h1 class="display-3 mb-4">Bonjour,</h1>
                    <p class="lead mb-5">dans un futur proche, vous pourrez accéder à votre tableau de bord depuis cette page. Notre meilleur équipe travaille sur son développement.</p>
                </div>
            </div>
        </div>
    </div>
}