@{
    ViewBag.Title = "Easy Bill";
}

@if (!System.Web.HttpContext.Current.User.Identity.IsAuthenticated)
{
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- CSS dependencies -->
        <link rel="stylesheet" href="~/Content/theme.css">
        <!-- Script: Make my navbar transparent when the document is scrolled to top -->
        <script src="~/Scripts/navbar-ontop.js"></script>
        <!-- Script: Animated entrance -->
        <script src="~/Scripts/animate-in.js"></script>

        
        <!-- Navbar -->
        <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
            <div class="container">
                <a class="navbar-brand" href="#">Easy Bill</a>
                <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbar2SupportedContent" aria-controls="navbar2SupportedContent" aria-expanded="false" aria-label="Toggle navigation"> <span class="navbar-toggler-icon"></span> </button>
                <div class="collapse navbar-collapse text-center justify-content-end" id="navbar2SupportedContent">
                    <ul class="navbar-nav">
                        <li class="nav-item mx-2">
                            <a class="nav-link" href="#features">Fonctionnalités</a>
                        </li>
                        <li class="nav-item mx-2">
                            <a class="nav-link" href="#download">Contact</a>
                        </li>
                    </ul>
                    <a class="btn navbar-btn text-white mx-2 btn-secondary" href=@Url.Action("Index","Login")>Accéder</a>
                </div>
            </div>
        </nav>
        <!-- Cover -->
        <div class="pt-5 bg-primary">
            <div class="container mt-5 pt-5">
                <div class="row">
                    <div class="col-md-6 my-5 text-lg-left text-center align-self-center">
                        <h1 class="display-1">Easy Bill</h1>
                        <p class="lead">Votre application de gestion commerciale.</p>
                        <div class="row mt-5">
                            <div class="col-6 col-lg-4"></div>
                            <div class="col-6 col-lg-4">
                                <a class="btn navbar-btn text-white mx-2 btn-secondary" href=@Url.Action("Index","Login")>Accéder</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <img class="img-fluid d-block mx-auto" src="~/assets/app/iphone_cover_light.png" width="400">
                    </div>
                </div>
            </div>
        </div>
        <!-- Article style section -->
        <div class="py-5">
            <div class="container">
                <div class="row py-5">
                    <div class="col-md-5 order-2 order-md-1 animate-in-left">
                        <img class="img-fluid d-block my-3 mx-auto" src="~/assets/app/iphone_side_light.png" width="200">
                    </div>
                    <div class="col-md-7 align-self-center order-1 order-md-2 my-3 text-md-left text-center">
                        <h2>Easy, yet powerful</h2>
                        <p class="my-4 text-muted">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute
                            irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident.
                        </p>
                        <a class="btn btn-outline-secondary" href="#features">Learn more</a>
                    </div>
                </div>
                <div class="row pt-5">
                    <div class="align-self-center col-lg-7 text-md-left text-center">
                        <h2>Works everywhere</h2>
                        <p class="my-4 text-muted">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi t aliquip ex ea commodo consequat. Duis aute
                            irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                        </p>
                        <a class="btn shadowed btn-secondary"
                           href="#download">Download</a>
                    </div>
                    <div class="align-self-center mt-5 col-lg-5 animate-in-right">
                        <img class="img-fluid d-block" src="~/assets/app/architect.jpg">
                    </div>
                </div>
                <hr class="mt-0">
            </div>
        </div>
        <!-- Features -->
        <div class="py-5" id="features">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 text-center">
                        <h2 class="pb-4">Easy Bill vous permez de :</h2>
                    </div>
                </div>
                <div class="row">
                    <div class="align-self-center text-md-right text-center col-lg-4 col-md-6">
                        <h4 class="text-primary">Gérer vos clients</h4>
                        <p>
                            Une gestion simple et complète
                            <br /> de vos clients et fournisseurs.
                        </p>
                        <h4 class="text-primary">Créer des devis</h4>
                        <p>
                            Créer des devis n'a jamais été aussi simple.
                            Ne rentrer que les informations utiles, on s'occupe du reste !
                        </p>
                        <h4 class="text-primary">Transformer vos devis en facture</h4>
                        <p>
                            Une facturation simple qui s'occupe de tout.
                            Ne vous souciez plus de votre comptabilité.
                        </p>
                    </div>
                    <div class="my-3 col-md-4 d-none d-lg-block animate-in-down">
                        <img class="img-fluid d-block mx-auto" src="~/assets/app/iphone_features_light.png" width="300">
                    </div>
                    <div class="align-self-center text-md-left text-center col-lg-4 col-md-6">
                        <h4 class="text-primary">Gérer votre profil</h4>
                        <p>
                            Personnalisez votre profil afin d'être
                            <br>plus productifs dans votre travail.
                        </p>
                        <h4 class="text-primary">Accéder à votre tableau de bord</h4>
                        <p>
                            Votre récapitulatif du mois vous informe sur l'évolution de votre entreprise.
                        </p>
                        <h4 class="text-primary">D'être plus productifs. Enjoy !</h4>
                        <p>
                            Easy Bill a permit à nos clients d'économiser du temps sur leurs papiers.
                            <br>Ils ont ainsi plus de temps à consacrer à l'essentiel.
                        </p>
                    </div>
                </div>
            </div>
        </div>
        
        <!-- Call to action -->
        <div class="py-5 section-primary" id="download">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 animate-in-left">
                        <img class="img-fluid d-block my-4 animate-slide-in" src="~/assets/app/iphone_isometric_light.png">
                    </div>
                    <div class="col-md-6 align-self-center text-center text-md-left">
                        <h1><b>Vous souhaitez nous contacter ?</b></h1>
                        <p class="lead">Nous sommes à votre écoute.</p>
                        <div class="row mt-5">
                            <div class="col-6 col-lg-4">
                                <a class="btn navbar-btn text-white mx-2 btn-secondary" href=@Url.Action("Contact","Home")>Contacter</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Footer -->
        <div class="py-5 bg-dark">
            <div class="container">
                <div class="row">
                    <div class="col-md-9">
                        <p class="lead">Inscrivez-vous à notre newsletter pour recevoir les dernières news.</p>
                        <form class="form-inline">
                            <div class="form-group">
                                <input type="email" class="form-control" placeholder="Votre mail">
                            </div>
                            <button type="submit" class="btn ml-2 btn-secondary">S'abonner</button>
                        </form>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 my-3 text-center">
                        <p class="text-muted">© Copyright 2018 Easy Bill - All rights reserved.</p>
                    </div>
                </div>
            </div>
        </div>
        <!-- JavaScript dependencies -->
        <script src="~/Scripts/jquery-1.10.2.js"></script>
        <script src="~/Scripts/bootstrap.min.js"></script>
        <!-- Script: Smooth scrolling between anchors in the same page -->
        <script src="~/Scripts/smooth-scroll.js"></script>
}
else
{
    <div class="py-5 text-center opaque-overlay">
        <div class="container py-5">
            <div class="row">
                <div class="col-md-12 text-white">
                    <h1 class="display-3 mb-4">Bonjour,</h1>
                    <p class="lead mb-5">dans un futur proche, vous pourrez accéder à votre tableau de bord depuis cette page. Notre meilleur équipe travaille sur son développement.</p>
                </div>
            </div>
        </div>
    </div>
}