
@{
    ViewBag.Title = "NewsletterSent";
}

<h2>Newsletter envoyé !</h2>
<h2>@ViewBag.Message</h2>

@*Bouton de retour à l'accueil*@
<a href=@Url.Action("Index", "Home") class="btn btn-lg btn-primary mx-1">Accéder</a>

