@model WebApplication1.Models.Account.Utilisateur

@{
    ViewBag.Title = "Récupération";
}

<p>
    <a href=@Url.Action("Index","Login") class="btn btn-info btn-lg">
        <span class="glyphicon glyphicon-arrow-left" /> Accueil
    </a>
</p>
<h2>Récupération du mot de passe</h2>

@using (Html.BeginForm())
{
    <div class="form-group">
        <label>Mail</label>
        @Html.TextBoxFor(m => m.ID, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.ID)
        <p style="color: red;">@ViewBag.erreur</p>
    </div>
    <input type="submit" class="btn btn-secondary" value="Valider" formaction="RecoverMDPAfterLogin" />
}