@model WebApplication1.Models.Account.Utilisateur

@{
    ViewBag.Title = "Récupération";
}

<p>
    <a href=@Url.Action("RecoverMDP","Login") class="btn btn-info btn-lg">
        <span class="glyphicon glyphicon-arrow-left" /> Mail
    </a>
</p>
<h2>Récupération du mot de passe</h2>

@using (Html.BeginForm())
{
    <h3>Saisissez le code qui vous a été envoyé par mail :</h3>
    <div class="form-group">
        @Html.HiddenFor(m => m.Mail)
        @Html.LabelFor(m => m.codeRecup)
        @Html.TextBoxFor(m => m.codeRecup)
        @Html.ValidationMessageFor(m => m.codeRecup)
    </div>
    <input type="submit" class="btn btn-secondary" value="Valider" formaction="VérifierRéponse"/>
}