@*Vue permettant de continuer la procédure de récupération du mot de passe*@
@model WebApplication1.Models.Account.Utilisateur

@{
    ViewBag.Title = "Récupération";
}

@*Formulaire permettant de saisir le code de récupération reçu par mail*@
@using (Html.BeginForm())
{

    <link rel="stylesheet" href="~/Content/theme.css">

    @*Navbar permettant d'accéder à la page de connexion, ou à la page d'accueil*@
    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
        <div class="container">
            <a class="navbar-brand" href=@Url.Action("Index","Home")>Easy Bill</a>
            <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbar2SupportedContent" aria-controls="navbar2SupportedContent" aria-expanded="false" aria-label="Toggle navigation"> <span class="navbar-toggler-icon"></span> </button>
            <div class="collapse navbar-collapse text-center justify-content-end" id="navbar2SupportedContent">
                <ul class="navbar-nav">
                    <li class="nav-item mx-2">
                        <a class="nav-link" href=@Url.Action("Index","Login")>Se connecter</a>
                    </li>
                </ul>
                <a class="btn navbar-btn text-white mx-2 btn-secondary" href=@Url.Action("Index","Home")>Accueil</a>
            </div>
        </div>
    </nav>

    //Div permettant de saisir le code de récupération reçu par mail afin de continuer la procédure de récupération
    <div class="py-5">
        <div class="container">
            <div class="row">
                <div class="col-md-3"> </div>
                <div class="col-md-6">
                    <div class="card p-5">
                        <div class="card-body">
                            <h1 class="mb-4">Saisissez le code qui vous a été envoyé par mail :</h1>
                            <form>
                                <div class="form-group">
                                    @*Champs caché afin de stocker l'identifiant de l'utilisateur*@
                                    @Html.HiddenFor(m => m.ID)

                                    @*Saisie du code de récupération reçu par mail*@
                                    @Html.LabelFor(m => m.codeRecup)
                                    @Html.TextBoxFor(m => m.codeRecup, new { @class = "form-control my-2", @required = "required" })
                                    @Html.ValidationMessageFor(m => m.codeRecup)
                                </div>

                                @*Bouton permettant de confirmer le code de récupération afin de continuer la procédure de récupération*@
                                <input type="submit" class="btn btn-secondary" value="Valider" formaction="VérifierRéponse" />
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}