@model WebApplication1.Models.Compte.Utilisateur

@{
    ViewBag.Title = "Récupération";
}

<p>
    <a href=@Url.Action("Index","Login") class="btn btn-info btn-lg">
        <span class="glyphicon glyphicon-arrow-left" /> Accueil
    </a>
</p>
<h2>Récupération du mot de passe</h2>

@using (Html.BeginForm())
{
    <div class="form-group">
        @Html.LabelFor(m => m.Mail)
        @Html.TextBoxFor(m => m.Mail, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Mail)
        <p style="color: red;">@ViewBag.erreur</p>
    </div>
    <input type="submit" class="btn btn-secondary" value="Valider" formaction="RecoverMDPAfterLogin" />
}